<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rahulchandrashekhar.footywiz" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ViewSquadsActivity"
            android:label="@string/title_activity_view_squads"
            android:screenOrientation="portrait"
            android:parentActivityName=".WelcomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rahulchandrashekhar.footywiz.WelcomeScreen" />
        </activity>
        <activity
            android:name=".BuildSquadActivity"
            android:label="@string/title_activity_build_squad"
            android:screenOrientation="portrait"
            android:parentActivityName=".WelcomeScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rahulchandrashekhar.footywiz.WelcomeScreen" />
        </activity>
        <activity
            android:name=".SquadListView"
            android:label="@string/title_activity_squad_list_view"
            android:screenOrientation="portrait"
            android:parentActivityName=".ViewSquadsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rahulchandrashekhar.footywiz.ViewSquadsActivity" />
        </activity>
        <activity
            android:name=".SelectedSquadList"
            android:label="@string/title_activity_selected_squad_list"
            android:screenOrientation="portrait"
            android:parentActivityName=".SquadListView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rahulchandrashekhar.footywiz.SquadListView" />
        </activity>
        <activity
            android:name=".SelectFormation"
            android:label="@string/title_activity_select_formation"
            android:screenOrientation="portrait"
            android:parentActivityName=".SquadListView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rahulchandrashekhar.footywiz.SquadListView" />
        </activity>
        <activity
            android:name=".SquadBuilder"
            android:label="@string/title_activity_squad_builder"
            android:screenOrientation="portrait"
            android:parentActivityName=".SelectFormation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rahulchandrashekhar.footywiz.SelectFormation" />
        </activity>
    </application>

</manifest>
